<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href='{% static "project_template/images/favicon.png" %}'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
              integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
              crossorigin="anonymous">
        <link rel="stylesheet" href='{% static "project_template/css/uikit.css" %}'>
        <link rel="stylesheet" href='{% static "project_template/css/styles.css" %}'>
        <title> DC assignment </title>
        <style>
            .input-border {
                border: 2px solid transparent;
            }

            .input-border:focus {
                background-color: white !important;
                border: 2px solid lightgrey;
                outline: none !important;
                transition: all .1s ease-in;
            }
        </style>
    {% endblock head %}
</head>

<body>
{% block body %}
{% endblock body %}
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="{% static 'project_template/js/uikit.js' %}"></script>
</body>
