{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    <style>

        .demo header .container {
            max-width: 1150px;
        }

        .demo .container {
            padding: 0 32px;
            max-width: 1080px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }


        .delimiter-bottom,
        .delimiter-top {
            position: relative
        }

        .delimiter-top:before {
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            width: 80%;
            height: 1px;
            margin-left: -40%;
            content: '';
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0, rgba(255, 255, 255, 0) 75%)
        }

        .delimiter-bottom:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 80%;
            height: 1px;
            margin-left: -40%;
            content: '';
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0, rgba(255, 255, 255, 0) 75%)
        }

    </style>
{% endblock head %}

{% block body %}
    {% load static %}

    <div class="demo">
        <div class="hero">
            <header class="py-4">
                <div class="container flex items-center justify-between mx-auto">
                    <a href="#" class="flex font-semibold items-center text-xl">
                        <ion-icon name="book" class="mr-2 text-2xl"></ion-icon>
                        BookSearch
                    </a>
                    <div class="flex items-center space-x-4">
                        <nav>
                            <ul class="flex items-center space-x-3">
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'signout' %}"> Sign-out </a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}"> Login </a></li>

                                {% endif %}
                                <li><a href="{% url 'signup' %}"> Signup </a></li>
                            </ul>
                        </nav>
                        <a href="#" class="bg-black font-medium px-4 py-1.5 rounded-full text-sm text-white">
                            Search Book
                        </a>
                    </div>
                </div>
            </header>
            <div class="mt-20 relative">
                <div class="absolute bg-gradient-to-b bottom-0 from-transparent h-60 left-0 to-gray-50 w-full"></div>
                <div class="container mx-auto">

                    <div class="mx-12 text-center">
                        <h1 class="text-5xl font-extrabold"> Book Search By ISBN </h1>
                        <p class="mt-3 max-w-2xl mx-auto" hidden>
                            Search for any book by ISBN number
                        </p>
                    </div>
                    <img src="{% static 'project_template/images/demo/hero-1.png' %}" alt="" class="w-full mt-16">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row py-24 delimiter-top">
                <div class="col-12">
                    <div class="text-center mb-5">
                        Search books by ISBN
                    </div>
                    <form id="search-by-isbn">
                        <label class="w-100">
                            {% if is_guest %}
                                <input type="text"
                                       id="isbn"
                                       disabled
                                       placeholder="Login to search books"
                                       class="w-100 px-3 py-3 w-full bg-gray-100 rounded-md input-border">
                            {% else %}
                                <input type="text"
                                       id="isbn"
                                       placeholder="Enter ISBN"
                                       class="w-100 px-3 py-3 w-full bg-gray-100 rounded-md input-border">
                            {% endif %}

                        </label>
                    </form>

                    <div class="mt-5">
                        <div id="loader" class="text-center">
                            <div class="spinner spinner-border" style="display: none"></div>
                        </div>

                        <div id="book-info">
                            <p class="text-muted text-secondary ml-4" style="font-size: .8em">
                                * Book info will appear here
                            </p>
                        </div>

                        <div id="error-message">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-white py-24 delimiter-top">
            <div class="container">
                <i class="text-sm text-secondary"> #ISBN description section </i>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <img src="{% static 'project_template/images/isbn.png' %}" alt="isbn"/>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="content">
                            <p class="font-weight-bold my-3">What is an ISBN? </p>
                            <hr class="my-2"/>
                            <p>
                                An ISBN is an International Standard Book Number. ISBNs were 10 digits in length up to
                                the end
                                of
                                December 2006, but since 1 January 2007 they now always consist of 13 digits. ISBNs are
                                calculated
                                using a specific mathematical formula and include a check digit to validate the number.
                            </p>
                            <p>
                                Each ISBN consists of 5 elements with each section being separated by spaces or hyphens.
                                Three
                                of
                                the five elements may be of varying length:
                            </p>
                            <ul>
                                <li>
                                    Prefix element – currently this can only be either 978 or 979. It is always 3 digits
                                    in
                                    length
                                </li>
                                <li>
                                    Registration group element – this identifies the particular country, geographical
                                    region, or
                                    language area participating in the ISBN system. This element may be between 1 and 5
                                    digits
                                    in length
                                </li>
                                <li>
                                    Registrant element - this identifies the particular publisher or imprint. This may
                                    be up to
                                    7 digits
                                    in length
                                </li>
                                <li>
                                    Publication element – this identifies the particular edition and format of a
                                    specific title.
                                    This
                                    may be up to 6 digits in length
                                </li>
                                <li>
                                    Check digit – this is always the final single digit that mathematically validates
                                    the rest
                                    of the
                                    number. It is calculated using a Modulus 10 system with alternate weights of 1 and
                                    3.
                                </li>
                            </ul>
                            <p class="font-weight-bold my-3"> What is an ISBN used for? </p>
                            <p>
                                An ISBN is essentially a product identifier used by publishers, booksellers, libraries,
                                internet
                                retailers and other supply chain participants for ordering, listing, sales records and
                                stock
                                control
                                purposes. The ISBN identifies the registrant as well as the specific title, edition and
                                format.
                            </p>
                            <p class="font-weight-bold my-3">What does an ISBN identify? </p>
                            <p>
                                ISBNs are assigned to text-based monographic publications (i.e. one-off publications
                                rather than
                                journals, newspapers, or other types of serials).
                            </p>

                            <p>
                                Any book made publicly available, whether for sale or on a gratis basis, can be
                                identified by
                                ISBN.
                            </p>
                            <p>

                                In addition, individual sections (such as chapters) of books or issues or articles from
                                journals,
                                periodicals or serials that are made available separately may also use the ISBN as an
                                identifier.
                            </p>
                            <p>
                                With regard to the various media available, it is of no importance in what form the
                                content is
                                documented and distributed; however, each different product form (e.g. paperback, EPUB,
                                .pdf)
                                should
                                be identified separately.
                            </p>
                            <p>
                                You can find examples of types of qualifying products and more information about the
                                scope of
                                the
                                ISBN here.
                            </p>
                            <p class="font-weight-bold my-3">ISBNs, the law and copyright</p>

                            <p>
                                The ISBN is an identifier and does not convey any form of legal or copyright protection.
                                However, in
                                some countries the use of ISBN to identify publications has been made into a legal
                                requirement.
                            </p>

                            <p class="font-weight-bold my-3">Who should apply for ISBN?</p>

                            <p>
                                It is always the publisher of the book who should apply for the ISBN. For the purposes
                                of ISBN,
                                the
                                publisher is the group, organisation, company or individual who is responsible for
                                initiating
                                the
                                production of a publication. Normally, it is also the person or body who bears the cost
                                and
                                financial risk in making a product available. It is not normally the printer, but it can
                                be the
                                author of the book if the author has chosen to publish their book themselves.
                            </p>
                            <p>
                                In a number of countries there is detailed legislation regarding publishing so contact
                                your
                                national
                                ISBN agency in good time for advice.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        (function () {
            const bookInfoUrl = "{{ book_url }}";
            const $form = document.querySelector('#search-by-isbn');
            const $isbnInput = $form.querySelector('#isbn');
            $form.addEventListener('submit', async e => {
                e.preventDefault()

                const isbn = $isbnInput.value;
                if (!validateISBN(isbn)) {
                    alert('Please, enter correct book ISBN');
                    return
                }

                showLoader()

                const {ok, data, errorMessage} = await getBook(isbn);

                hideLoader()

                if (ok) {
                    showBookInfo(data)
                } else {
                    showError(errorMessage)
                }
            })

            function validateISBN(isbn) {
                return true;
            }

            async function getBook(isbn) {
                const fullUrl = new URL(bookInfoUrl)
                fullUrl.searchParams.append('isbn', isbn)

                try {
                    const bookInfo = await fetch(fullUrl).then(res => res.json())
                    return {
                        ok: true,
                        data: bookInfo,
                        errorMessage: null,
                    }
                } catch (e) {
                    return {
                        ok: false,
                        data: null,
                        errorMessage: 'some error occurred'
                    }
                }
            }

            const $bookInfoDiv = document.querySelector('#book-info');
            const $errorMessageDiv = document.querySelector('#error-message')
            const $loader = document.querySelector('#loader')

            function showBookInfo(bookInfo) {
                $bookInfoDiv.innerHTML = `
                    Some book info goes here
                `
            }

            function showError(error) {
                $errorMessageDiv.innerHTML = `
                    This is special error message
                `
            }

            function showLoader() {
                $loader.style.display = 'block';
            }

            function hideLoader() {
                $loader.style.display = 'none';
            }
        })()
    </script>
{% endblock body %}
