{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <style>
        .signup-card {
            border: 1px solid black;
            padding: 20px;
            width: 500px;
            height: auto;
            margin: auto;
        }

    </style>
{% endblock head %}

{% block body %}
    <div class="bg-white signup-card">
        <div class="flex flex-col justify-center h-screen p-6 text-center">
            <div class="space-y-6 mb-10">
                <div class="">
                    <ion-icon name="book-outline"
                              class=" w-10 h-10 rounded-full text-white p-3 from-blue-500 to-purple-500 bg-gradient-to-br shadow-lg text-xl"></ion-icon>
                </div>
                <h1 class="text-3xl font-semibold mb-5"> Register to BookStore</h1>
            </div>

            <div class="text-left ml-2 my-2">
                {% for field, message in errors %}
                    <li class="text-danger">
                        <b class="text-danger"> {{ field }}: </b>
                        <span> {{ message.0 }} </span>
                    </li>
                {% endfor %}
            </div>


            <form action="{% url 'signup' %}" method="post" class="space-y-3">
                {% csrf_token %}
                <label class="w-100">
                    <input type="text"
                           placeholder="Username"
                           name="username"
                           class="px-3 py-3 w-full bg-gray-100 rounded-md input-border mt-2">
                </label>
                <label class="w-100">
                    <input type="text"
                           placeholder="Email"
                           name="email"
                           class="px-3 py-3 w-full bg-gray-100 rounded-md input-border mt-2">
                </label>
                <label class="w-100">
                    <input type="password"
                           placeholder="Create Password"
                           name="password"
                           class="px-3 py-3 w-full bg-gray-100 rounded-md input-border mt-2">
                </label>
                <label class="w-100">
                    <input type="password"
                           placeholder="Confirm Password"
                           name="confirm_password"
                           class="px-3 py-3 w-full bg-gray-100 rounded-md input-border mt-2">
                </label>
                <!--<input type="submit" value="Join" class="p-3 w-full bg-gradient-to-br from-gray-600 to-gray-500 rounded-md text-white">-->
                <input type="submit"
                       value="Signup"
                       class="p-3 w-full bg-gray-600 rounded-md text-white block cursor-pointer">
            </form>

            <p class="mt-4">
                Have an account?
                <a href="{% url 'login' %}" class="text-blue-500">
                    Login
                </a>
            </p>
        </div>
    </div>
{% endblock body %}
