{% extends 'auth/auth_form_template.html' %}

{% block auth_template_title %}
    Reset Password Form
{% endblock auth_template_title %}

{% block auth_template_body %}
    <!--Password Reset Confirm-->
    <div class="container mx-0 px-0">
        <form method="POST" action="">
            {% csrf_token %}
            <label class="w-100">
                <input type="password"
                       placeholder="Password"
                       name="new_password1"
                       class="w-100 mt-2 px-3 py-3 w-full bg-gray-100 rounded-md input-border">
            </label>

             <label class="w-100">
                <input type="password"
                       placeholder="Confirm password"
                       name="new_password2"
                       class="w-100 mt-2 px-3 py-3 w-full bg-gray-100 rounded-md input-border">
            </label>

            <input type="submit"
                   value="Reset Password"
                   class="p-3 w-full bg-gradient-to-br from-gray-600 to-gray-500 rounded-md text-white cursor-pointer">
        </form>
    </div>

{% endblock auth_template_body %}